/* comes with 
<div id="container">
                <div id="dummy"></div>
                    <div id="A">A</div>
                    <div id="B">B</div>
                    <div id="C">C</div>
                </div>       
            </div>
*/
html, body {
    margin: 1;
    padding: 10;
    border: 0;
}
#container {
    display: inline-block;
    position: relative;
    width: 100%;    
    height: 100%;
    background-color: #99CC30;
}
#dummy {
    padding-top: 20%; /* 4:3 aspect ratio */
}
#A{
    top: 110%;
    height: 35%;
    margin: 5%;
    background-color: #99CC00;
  
  -webkit-box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
-moz-box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
}
#B {
    top: 33%;

    height: 35%;
    background-color: #999999;
    z-index:100;
    border: solid 0px #00CC00; 
  margin: 5%;
  
   -webkit-box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
-moz-box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
}
#C {
    top: 63%;
    left: 0px;
    height: 33%;
    right: 0;
    bottom: 0px;
    background-color: #CCCCCC;
  margin: 5%;
  
   -webkit-box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 26px -3px rgba(0,0,0,0.67);
}

