#container {
    /* display: inline-block; */
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
#dummy {
    padding-top: 100%; /* 4:3 aspect ratio */
}
#container_button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #252525;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    -webkit-box-shadow: inset 0px 2% 0% #585858, 1% 1% 0% #000, 2% 2% 5% #000;
    -moz-box-shadow: inset 0px 2% 0px #585858, 1% 1% 0% #000, 2% 2% 5% #000;
    box-shadow: inset 0px 2% 0px #585858, 1% 1% 0% #000, 2% 2% 5% #000;
}
#hole {
    background-color: #151515;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 7.5%; /* this must be half of the diff between 100% and the above hight */
    position: relative;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    -webkit-box-shadow: 1% 1% 0% #5d5d5d;
    -moz-box-shadow: 1% 1% 0% #5d5d5d;
    box-shadow: 1% 1% 0% #5d5d5d;
}
#button {
    width: 97%;
    height: 97%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: -2%;
    position: relative;
    background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
    -webkit-box-shadow: inset 0px 2% 0px #a8a8a8, 0px 2% 0px #2a2a2a, 0px 3% 0px #2a2a2a, 0px 4% 0px #2a2a2a, 0px 5% 0px #2a2a2a, 0px 6% 0px #2a2a2a, 0px 7% 0px #2a2a2a, 0px 8% 0px #2a2a2a, 0px 9%  0px #2a2a2a, 0px 10% 0px #2a2a2a, 10% 20% 10% #000;
    -moz-box-shadow: inset 0px 2% 0px #a8a8a8, 0px 2% 0px #2a2a2a, 0px 3% 0px #2a2a2a, 0px 4% 0px #2a2a2a, 0px 5% 0px #2a2a2a, 0px 6% 0px #2a2a2a, 0px 7% 0px #2a2a2a, 0px 8% 0px #2a2a2a, 0px 9% 0px #2a2a2a, 0px 10% 0% #2a2a2a, 10% 20% 10% #000;
    box-shadow: inset 0% 2% 0% #a8a8a8, 0% 2% 0% #2a2a2a, 0% 3% 0% #2a2a2a, 0% 4% 0% #2a2a2a, 0px 5% 0px #2a2a2a, 0px 6% 0px #2a2a2a, 0px 7% 0px #2a2a2a, 0px 8% 0px #2a2a2a, 0px 9% 0px #2a2a2a, 0px 10% 0px #2a2a2a, 10% 20% 10% #000;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
}
#button:active {
    top: 1.25%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset 0px 2% 0px #a8a8a8;
}

km-ios .km-list>li {
    display: block;
    vertical-align: middle;
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    background: rgba(240, 240, 240, 0.02)!important;
}
