<script type="text/javascript" src="scripts/settingsView.js"></script>

<div data-role="view" id="settingsView" data-style="inset" data-title="Settings" data-init="settingsViewInit" data-model="carsViewModel" >
	<div id="settingsViewContent" data-role="content">
        <!-- List of settings options -->
                    <ul data-role="listview" id="signoutView" data-style="inset" data-inset="true" data-click="closeViewSignOut">
    					<li>
    						<a href="#settings" id="sign_out" data-rel="modalview">Sign Out</a>
    					</li>                        
    				</ul>
                    <ul data-role="listview" id="updateView" data-style="inset" data-inset="true" >
    					<li>
    						<a href="#settings" data-rel="modalview">Update Details</a>
    					</li>
    				</ul>
            		<ul data-role="listview" id="scanView" data-style="inset" data-inset="true"  >
    					<li>
    						<a href="#modalview-scan" data-rel="modalview">Scan</a>
    					</li>                        
    				</ul>
   				    <ul data-role="listview" id="addCarView" data-style="inset" data-inset="false" >
    					<li>
    						<a href="#modalview-addCar" data-rel="modalview">Add Car</a>
    					</li>
    				</ul>
                     <ul data-role="listview" id="remindersView" data-style="inset" data-inset="true" >
    					<li>
    						<a href="#settings" data-rel="modalview">Reminders</a>
    					</li>
    				</ul>
                    <ul data-role="listview" id="prepaidView" data-style="inset" data-inset="true" >
    					<li>
    						<a href="#settings" data-rel="modalview">Pre-paid</a>
    					</li>
    				</ul>
     </div>
</div>
<!--

<script type="text/x-kendo-template" id="registeredCarsList-template">
    <a href='views/registeredCarView.html?carNumber=${carNumber}&parkingActive=${parkingActive}' 
        data-cardId="${carNumber}" class="listReswardsCard clear" data-role="listview-link">
               <div 
				#if(parkingActive==0){#
					class="unknown_car_inactive"
				#}else{#
                    class="unknown_car_active"
				#}
				#></div>
        <div class="cardInformationContainer">
            <span>Car Number: </span>
            <span class="cardNumberText">${carNumber}</span>
            <div class="registeredDateText">Registered on ${registerDate}</div>
        </div>
        <div class="clear"></div>
    </a>    
</script>

-->

<!-- ========== ADD A CAR STUFF ============= -->

<div data-role="modalview" id="modalview-addCar" style="width: 95%; height: 70%;">
    
    <div data-role="header">
        <div data-role="navbar">
            <span>Add Car</span>
         </div>
    </div>
   
	<div id='helloWorldInput'>		
		<input type="text" id="txtName" value="Car Number" style="display:block;margin: 8% auto 0px auto;width:80%;"/>
	</div>

    <div>
        <img style="display:block;margin: 10% auto 5% auto; width:50%; height:40%;" id="smallImage" src="images/car.png" />
    </div>
   <div data-role="footer">
        <div data-role="navbar">
            <span></span>
            <a href="#settingsView" data-role="button" data-align="left">Cancel</a>
            <a data-click="closeModalAddCar" data-role="button" data-align="right">Done</a>
       </div>
    </div>
    
     
</div>
